<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="adweb.dao.UserDao" >

    <select id="selectByName" resultType="adweb.model.User" parameterType="java.lang.String" >
        select * from user where name = #{name}
    </select>

    <select id="selectByUid" resultType="adweb.model.User" parameterType="java.lang.Integer" >
        select * from user where uid = #{uid}
    </select>

    <insert id="insert" parameterType="adweb.model.User" useGeneratedKeys="true" keyProperty="uid">
        insert into user (name, password) values (#{name},#{password})
    </insert>

    <update id="updatePortrait" parameterType="adweb.model.User">
        update user set portrait=#{portrait} where uid=#{uid}
    </update>

</mapper>